In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!pip install pandas
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [5]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Dropout

df = pd.read_csv('/content/drive/MyDrive/金融大數據/DNN/TSLA_1.csv')
df = df.drop(['Adj Close'], axis=1)
df

           Date        Open        High         Low       Close     Volume
0    2022-03-23  326.646667  346.899994  325.466675  333.036682  120676200
1    2022-03-24  336.576660  341.496674  329.600006  337.973328   68920800
2    2022-03-25  336.000000  340.600006  332.440002  336.880005   62031600
3    2022-03-28  355.033325  365.959991  351.200012  363.946655  102506100
4    2022-03-29  369.329987  371.589996  357.703339  366.523346   73614900
..          ...         ...         ...         ...         ...        ...
121  2022-09-15  301.829987  309.119995  300.720001  303.750000   64795500
122  2022-09-16  299.609985  303.709991  295.600006  303.350006   86949500
123  2022-09-19  300.089996  309.839996  297.799988  309.070007   60231200
124  2022-09-20  306.910004  313.329987  305.579987  308.730011   61642800
125  2022-09-21  308.290009  313.799988  300.630005  300.799988   62555700

[126 rows x 6 columns]

In [25]:
#分資料x, y
y = np.array(df.iloc[:,1:3]).reshape(-1,2) #open, high
x = np.array(df.iloc[:,3:]).reshape(-1,3) #close, low, volume

#標準化
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
y_train = ss.fit_transform(y)
x_train = ss.fit_transform(x)
print(x.shape,y.shape)

(126, 3) (126, 2)

In [26]:
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Dropout

model = Sequential()
model.add(Dense(64, input_dim=3))# 加入 hidden layer1 of 64 neurons 並指定 input_dim 為 3
model.add(Activation('relu'))# 使用 'relu' 當作 activation function
model.add(Dropout(0.3))# 使用 Dropout 隨機捨棄 30% 的連線
model.add(Dense(32))
model.add(Activation('relu'))
model.add(Dropout(0.3))
model.add(Dense(16))
model.add(Activation('relu'))
model.add(Dropout(0.3))
model.add(Dense(2))
model.add(Activation('softmax'))
  
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])# 定義訓練方式 

# 開始訓練  
train_history = model.fit(x=x_train,  
                          y=y_train, validation_split=0.2,  
                          epochs=10, batch_size=300, verbose=2)

Epoch 1/10
1/1 - 1s - loss: 1.5616 - accuracy: 0.6100 - val_loss: 0.1227 - val_accuracy: 0.7308 - 514ms/epoch - 514ms/step
Epoch 2/10
1/1 - 0s - loss: 1.5550 - accuracy: 0.5500 - val_loss: 0.1227 - val_accuracy: 0.6923 - 21ms/epoch - 21ms/step
Epoch 3/10
1/1 - 0s - loss: 1.5515 - accuracy: 0.5100 - val_loss: 0.1227 - val_accuracy: 0.6923 - 22ms/epoch - 22ms/step
Epoch 4/10
1/1 - 0s - loss: 1.5502 - accuracy: 0.5900 - val_loss: 0.1228 - val_accuracy: 0.7308 - 21ms/epoch - 21ms/step
Epoch 5/10
1/1 - 0s - loss: 1.5515 - accuracy: 0.4700 - val_loss: 0.1228 - val_accuracy: 0.6538 - 23ms/epoch - 23ms/step
Epoch 6/10
1/1 - 0s - loss: 1.5500 - accuracy: 0.4600 - val_loss: 0.1229 - val_accuracy: 0.6538 - 24ms/epoch - 24ms/step
Epoch 7/10
1/1 - 0s - loss: 1.5476 - accuracy: 0.5500 - val_loss: 0.1230 - val_accuracy: 0.6154 - 19ms/epoch - 19ms/step
Epoch 8/10
1/1 - 0s - loss: 1.5525 - accuracy: 0.5600 - val_loss: 0.1231 - val_accuracy: 0.6154 - 20ms/epoch - 20ms/step
Epoch 9/10
1/1 - 0s - loss: 1.5480 - accuracy: 0.5800 - val_loss: 0.1232 - val_accuracy: 0.5769 - 21ms/epoch - 21ms/step
Epoch 10/10
1/1 - 0s - loss: 1.5486 - accuracy: 0.5100 - val_loss: 0.1232 - val_accuracy: 0.5769 - 19ms/epoch - 19ms/step